#Login{
    margin: 50px auto;
    width: 500px;
    height: 350px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    /*background: rgba(255, 0, 0, 0.134);*/
}
#Login input{
    
    margin: 10px 5px 10px auto;
    padding-left: 20px;
    height: 30px;
    border-color: transparent;
    border-radius: 5px;
    outline: none;
}

#Login .switch-btn{
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.219);
    cursor: pointer;
}